extends layout

block content
    div#body_container
        if not_found !== null
            h2 Not Found
            p We were unable to find this #{not_found}
        else
            div#movie_display
                div#movie_title
                    h1 #{movie.name}
                    h3 Release Date: #{prettyDate(movie.release_date)}
                div#movie_poster
                    a(href='https://www.youtube.com/embed/#{movie.yt_id}' target='_blank')
                        img(src= movie.poster_url, border=0)
                        div.play_circle
                            div.play_circle_inner
                div#movie_info
                    table
                        thead
                            th Member
                            th Movies Owned
                            th Remaining Bux
                        tbody

                    form
                        label Winner
                            select(name="winner")
                        label Bid
                            input(name="bid")
                        label Percentage
                            input(name="percent", size="3")
