extends layout

block content
    div#body_container
        if not_found !== null
            h2 Not Found
            p We were unable to find this #{not_found}
        else
            div#movie_display
                div#movie_title
                    h1 #{movie.name}
                div#movie_poster
                    img(src= movie.poster_url)
                div#movie_info
                    p Relase Date
                    p IMDB
                    p Box Office Mojo
                    p Trailer

                    form
                        label Winner
                            select(name="winner")
                        label Bid
                            input(name="bid")
                        label Percentage
                            input(name="percent", size="3")
