extends layout

block content
    div#body_left
        h2 Movies
        table
            thead
                tr
                    th Title
                    th Release Date
                    th Gross
            tbody
                each movie in movies
                    tr
                        td #{movie.title}
                        td #{movie.release_date}
                        td $1234
    div#body_right
        h2 Teams
        table
            tr
                th Name
                th Members
                th Leader
