extends layout

block content
    div#body_left
        h2 Movies
        table
            tr
                th Title
                th Release Date
                th Gross
    div#body_right
        h2 Teams
        table
            tr
                th Name
                th Members
                th Leader
