extends layout

block content
    div#body_container
        div#body_left
            h2 Movies
            include movie_table.jade
        div#body_right
            div#current_draft
                h2 Current Draft
                p Summer 2016
                ul
                    li Starts:
                    li Ends:
                    li Draft Period:
            div#team_list
                h2 Teams
                table
                    tr
                        th Name
                        th Members
                        th Leader
            div#team_action
                a#team_button(href='/add_team')
