doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.2.2.min.js')
  body
    block content
    #footer
        p &copy; #{new Date().getFullYear()}
        p
            a(href='https://github.com/Bishma/draft' target='_blank') Github
