doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-2.2.2.min.js')
    body
        iframe#full_screen_window
        div#full_screen_close X
        div#header
            div#header_content
                div#header_img
                    a(href="/", width=134, height=120)
                        img(border=0, src="/public/images/draft-logo.png")
            div#header_title
                h1 #{title}
        block content
        #footer
            p &copy; #{new Date().getFullYear()} - 
                a(href='https://github.com/Bishma/draft' target='_blank') Github
        script.
            $(document).ready(function() {
                // this block is a simple handler for iframe display
                // to be used for youtube links
                $('.video_link').click(function() {
                    var videoUrl = 'https://www.youtube.com/embed/' + $(this).attr('youtubeId');
                    openInfo(videoUrl);
                });
                $('#full_screen_close').click(function() {
                    closeVideo();
                });
                $(window, $('iframe#full_screen_window')).keyup(function(e) {
                    if (e.keyCode == 27) { // Esc
                        closeVideo();
                    }
                });
                function openInfo(url) {
                    $('#full_screen_window').attr('src', url);
                    $('#full_screen_window').css('display','block');
                    $('#full_screen_close').css('display','block');
                }
                function closeVideo() {
                    $('#full_screen_window').attr('src', "");
                    $('#full_screen_window').css('display','none');
                    $('#full_screen_close').css('display','none');
                }

            });

            // simple function for checking required fields
            function requiredFields(fieldArray) {
                for (var i = 0; i < fieldArray.length; i++) {
                    if (fieldArray[i].type == 'number') {
                        if (isNaN($('#'+fieldArray[i]._id).val())) {
                            return fieldArray[i]._id;
                        }    
                    }
                    else if (fieldArray[i].type == 'string') {
                        if ($('#'+fieldArray[i]._id).val() == '') {
                            return fieldArray[i]._id;
                        }
                    }
                } 
                return true;
            }

        block script
