extends layout

block content
    div#body_container
        a(href="/") Back Home
        if found == false
            h1 Team Not Found
        else
            h2 Progress of team "#{team.teamName}"
            include movie_table.pug

            h2 Team Stats
            include member_movie_stats.pug
